.container {
  height: 60px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #666;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 400;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  width: 60%;
  max-width: 60%;
  /*background-image: url("../../../asset/logo.png");*/
  /*background-position: left;*/
  color: #ffd600;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo h1 {
  font-family: cursive;
}
.listIcon a {
  color: white;
}
.listIcon a:hover {
  color: white;
}
.cart {
  position: relative;
}
.cartLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50%;
  right: -25%;
  z-index: 99;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid red;
  color: red;
}
