.container {
  height: 50px;
  width: 100%;
  background-color: #0894a1;
  border-bottom: 1px solid #666;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
}
.logo {
  height: 100%;
  width: 40%;
  max-width: 50%;
  /*background-image: url("../../../asset/logo.png");*/
  background-position: -12px -3px;
  background-size: 45%;
  background-repeat: no-repeat;
}
