.child {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #dddddd;
  width: calc(50% - 10px);
}
.name {
  font-size: 14px;
  font-weight: 700;
}
.price {
  font-size: 12px;
  font-weight: 600;
  color: rgb(245, 114, 36);
}
